!Xcursor.size:48
Xcursor.size: 64
Xft.dpi: 220

!Darcula
#define t_background       #2b2b2b
#define t_current_line     #2b2b2b
#define t_selection        #333333
#define t_foreground       #a9b7c6
#define t_comment          #c7dd0c
#define t_red              #d25252
#define t_orange           #cc7833
#define t_yellow           #ffc66d
#define t_green            #619647
#define t_aqua             #a9b7c6
#define t_blue             #6897bb
#define t_purple           #9876aa
!
!
*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  t_foreground

!
!! Black / Grey
*.color0:       #2b2b2b
*.color8:       #888888
!
!! Red / Bright Red
*.color1:       t_red
*.color9:       t_red
!
!! Green + Bright Green
*.color2:       t_green
*.color10:      #7fb347
!
!! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow
!
!! Blue + Bright Blue
*.color4:       t_blue
color12:      t_blue
!
!! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #b777e0
!
!! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      t_aqua
!
!! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line
 
#define r_fg   #a9b7c6
#define r_hlfg #cc7833
#define r_alt #2b2b2bo

URxvt.font: xft:Source Code Pro for Powerline:size=10,xft:FontAwesome:size=10
URxvt.scrollBar: false
URxvt.saveLines: 2000
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
URxvt.transparent: False
!URxvt.transparent: True
URxvt.shading: 30
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

!States: bg, fg, bgalt, hlbg, hlfg
rofi.color-enabled: true
rofi.fuzzy: true
rofi.dpi: 220
rofi.hide-scrollbar: true
rofi.color-normal: t_background,t_foreground,t_background,t_background,t_blue
rofi.color-urgent: t_background,t_red,t_background,t_background,t_orange
rofi.color-active: t_background,t_foreground,t_background,t_background,t_blue
!states: background, border
rofi.color-window: t_background,t_blue

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.bw: 2
rofi.columns: 1
rofi.padding: 50
rofi.eh: 1
rofi.line-margin: 35

!rofi.fullscreen: true
rofi.xoffset: 0
rofi.yoffset: 350
!rofi.opacity: 100
!rofi.fake-transparency: false
rofi.location: 2
rofi.width: 40
rofi.font: Source Sans Pro 15
rofi.lines: 3

rofi.border-radius: 8
