!Xcursor.size:48
Xcursor.size: 64
Xft.dpi: 220

#define t_color0      #2b2b2b
#define t_color1      #e06c75
#define t_color2      #98c379
#define t_color3      #e5c07b
#define t_color4      #61afef
#define t_color5      #c678dd
#define t_color6      #56b6c2
#define t_color7      #abb2bf
!#define color8      #545862
#define t_color8      #333333
#define t_color9      #d19a66
#define t_color10     #353b45
#define t_color11     #3e4451
#define t_color12     #565c64
#define t_color13     #b6bdca
#define t_color14     #be5046
#define t_color15     #c8ccd4

*.foreground: t_color15
*.background: t_color0
*.cursorColor: t_color15

*.color0: t_color0
*.color8: t_color8

*.color1: t_color1
*.color9: t_color9

*.color2: t_color2
*.color10: t_color10

*.color3: t_color3
*.color11: t_color11

*.color4: t_color4
*.color12: t_color12

*.color5: t_color5
*.color13: t_color13

*.color6: t_color6
*.color14: t_color14

*.color7: t_color7
*.color15: t_color15

*.background:  #282c34
*.color0:      #282c34
*.color1:      #e06c75
*.color2:      #98c379
*.color3:      #e5c07b
*.color4:      #61afef
*.color5:      #c678dd
*.color6:      #56b6c2
*.color7:      #abb2bf
*.color8:      #545862
*.color9:      #d19a66
*.color10:     #353b45
*.color11:     #3e4451
*.color12:     #565c64
*.color13:     #b6bdca
*.color14:     #be5046
*.color15:     #c8ccd4

URxvt.font: xft:Source Code Pro for Powerline:size=10,xft:FontAwesome:size=10
URxvt.scrollBar: false
URxvt.saveLines: 2000
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
!URxvt.transparent: False
URxvt.transparent: True
URxvt.shading: 30
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

!States: bg, fg, bgalt, hlbg, hlfg
rofi.color-enabled: true
rofi.fuzzy: true
rofi.dpi: 220
rofi.hide-scrollbar: true
rofi.color-normal: t_background,t_foreground,t_background,t_background,t_blue
rofi.color-urgent: t_background,t_red,t_background,t_background,t_orange
rofi.color-active: t_background,t_foreground,t_background,t_background,t_blue
!states: background, border
rofi.color-window: t_background,t_blue

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.bw: 2
rofi.columns: 1
rofi.padding: 50
rofi.eh: 1
rofi.line-margin: 35

!rofi.fullscreen: true
rofi.xoffset: 0
rofi.yoffset: 350
!rofi.opacity: 100
!rofi.fake-transparency: false
rofi.location: 2
rofi.width: 40
rofi.font: Source Sans Pro 15
rofi.lines: 3

rofi.border-radius: 8
